:root {
    --blanco: #f4f4f4;
    --gris-azul: #4a5568;
    --gris-azul-fuerte: #2d3748;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--blanco);
}

header {
    background-color: var(--gris-azul-fuerte);
    color: var(--blanco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 20px;
}


header nav a {
    color: var(--blanco);
    margin: 0 10px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


form {
    background-color: var(--blanco);
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h1 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input {
    width: 84%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    width: 90%;
    padding: 10px;
    background-color: var(--gris-azul-fuerte);
    color: var(--blanco);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--gris-azul);
}